tidyquant_1.0.3            
quantmod_0.4.18           
TTR_0.24.3                 
PerformanceAnalytics_2.0.4
xts_0.12.1                 
zoo_1.8-9                 
lubridate_1.8.0            
forcats_0.5.1             
stringr_1.4.0              
dplyr_1.0.7               
purrr_0.3.4                
readr_2.1.1               
tidyr_1.1.4                
tibble_3.1.6              
ggplot2_3.3.5              
tidyverse_1.3.1           
ROCR_1.0-11 
htmltab_0.8.2
